# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/main/
/build/classes/kotlin/test/
/.idea/*
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat